/* Aplica un desenfoque a todas las imágenes de la página */
img {
    filter: blur(10px);
    transition: filter 0.3s ease; /* Agrega una transición suave al quitar el blur */
  }
  
  /* Cuando la imagen ha cargado, se elimina el desenfoque */
  img.loaded {
    filter: blur(0);
  }
  

  .lazy-image {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.lazy-load.visible .lazy-image {
  opacity: 1;
}


.bg-custom {
  background: url('/img/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

