<div class="container m-auto py-12 px-10 xl:py-16" id="case"> 
    <h2 class="font-bold text-4xl mb-8 text-center md:mb-16 xl:text-5xl">
        Case study
    </h2>
    <div class="flex flex-col-reverse justify-center m-auto gap-8 md:flex-row xl:gap-20 xl:items-center">
        <picture>
          <source srcset="/img/case/case-xl.webp" media="(min-width: 1024px)" />
          <source srcset="/img/case/case-m.webp" media="(min-width: 768px)" />
          <img  class="xl:min-w-[600px]" src="/img/case/case.webp" class=""  alt="" loading="lazy"/>
        </picture>
        <div>
            <img  src="/img/hewi.png" class="mb-6 max-h-14"  alt="" loading="lazy"/>
            <div class="text-[#481F8B] font-bold mb-5 mt-5 xl:text-3xl">
                See how Hardly Ever Worn It (hewi) leapt into the future of AI ecommerce search with over a 200% search to purchase conversion uplift
            </div>
            <div>
                The UK's best luxury resell site - increased their conversions overnight by integrating Sociate AI, without adding a single new product attribution tag.
            </div>
            <a
            href="https://drive.google.com/file/d/1PyG8NMXYlwEsj0JJWiEuVFN50XfJLL0x/view?usp=sharing"
            target="_blank"
            onclick="dataLayer.push({'event': 'Read case study', 'tag': 'case_study'});"
            class="block bg-[#4C43BF] px-10 py-2 text-white rounded-[32px] max-w-[500px] text-center mt-8 cursor-pointer shadow-2xl"
          >
            Read the Case Study results
          </a>
        </div>
    </div>
</div>
