<div class="container m-auto py-12 xl:py-16" id="technology"> 
    <h2 class="font-bold text-4xl mb-8 text-center md:mb-16 xl:text-5xl">
        Featured in
    </h2>
    <div class="flex flex-col items-center justify-center m-auto gap-8 md:flex-row xl:gap-40">
        <img  class="w-auto max-h-14" src="/img/feature/vogue.webp" alt="" loading="lazy"/>
        <img  class="w-auto max-h-14" src="/img/feature/wwd.webp" alt="" loading="lazy"/>
        <img  class="w-auto max-h-14" src="/img/feature/grazia.webp"  alt="" loading="lazy"/>
    </div>
</div>
