<div
class="flex flex-col-reverse gap-5 lg:flex-row lg:pl-5 lg:justify-between xl:gap-9 xl:items-center 2xl:gap-8"
>
	<div
		class="lg:max-w-[500px] xl:max-w-[650px] xl:ml-[3%] xl:min-w-[650px] 2xl:max-w-[800px] 2xl:min-w-[800px]"
	>
		<h2
			class="xl:max-w-[500px] font-bold text-2xl mb-8 text-center md:mb-6 md:mt-16 lg:text-left xl:text-5xl"
		>
			The World's Fastest Learning Fashion AI
		</h2>
		<div class="xl:max-w-[500px] font-bold mb-5 mt-5 xl:text-3xl px-5">
			Seen it on Insta or TikTok? Find it on your platform minutes later
		</div>
		<div class="xl:max-w-[500px] px-5">
			Move at the speed of social to let customers find their style without attribute tags for up to 200% conversion uplift
		</div>
		<div class="textos flex gap-4 w-full pt-6">
			<div class="mt-5 primero">
				<div
					class="bg-white shadow-md p-3 px-5 flex items-center gap-6 border rounded-[60px] h-[70px] xl:h-[70px]"
				>
					<img
						class="w-6 h-6 xl:w-7 xl:h-7"
						src="/img/mano-arriba.png"
						alt=""
						loading="lazy"
					/>
					<div class="flex items-center gap-4 w-full contenido overflow-x-hidden">
						<div class="hwrap">
							<div class="hmove">
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									Barbiecore
								</div>
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									I need an outfit for a Great Gatsby party
								</div>
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									Show me something Coastal cowgirl
								</div>
								<!-- <div
									class="font-bold text-sm xl:text-lg text-nowrap esconder4"
								>
									Show me Quiet luxury
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-5 mano-abajo">
				<div
					class="bg-white shadow-md p-3 px-5 flex items-center gap-5 border rounded-[60px] h-[70px] xl:h-[70px]"
				>
					<img
						class="w-6 h-6 xl:w-7 xl:h-7"
						src="/img/mano-abajo.png"
						alt=""
						loading="lazy"
					/>
					<div class="flex items-center gap-4 w-full overflow-x-hidden">
						<div class="hwrap">
							<div class="hmove left">
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									No pastels
								</div>
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									I don’t want sleeves
								</div>
								<div
									class="font-bold text-sm xl:text-lg hslide"
								>
									No florals
								</div>
							</div>
						</div>
						<svg
							class="ml-auto"
							width="40"
							height="40"
							viewBox="0 0 40 40"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M26.2581 23.7584H24.9415L24.4748 23.3084C26.1081 21.4084 27.0915 18.9417 27.0915 16.2584C27.0915 10.275 22.2415 5.42505 16.2581 5.42505C10.2748 5.42505 5.4248 10.275 5.4248 16.2584C5.4248 22.2417 10.2748 27.0917 16.2581 27.0917C18.9415 27.0917 21.4081 26.1084 23.3081 24.475L23.7581 24.9417V26.2584L32.0915 34.5751L34.5748 32.0917L26.2581 23.7584ZM16.2581 23.7584C12.1081 23.7584 8.75814 20.4084 8.75814 16.2584C8.75814 12.1084 12.1081 8.75838 16.2581 8.75838C20.4081 8.75838 23.7581 12.1084 23.7581 16.2584C23.7581 20.4084 20.4081 23.7584 16.2581 23.7584Z"
								fill="#6A8AF0"></path>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="relative h-12 mt-5 hidden md:block">
			<div class="absolute flex gap-5 items-center grupo1">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Pink</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Barbiecore</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Sparkly</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
			<div class="absolute flex gap-5 items-center grupo2">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Pink</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Barbiecore</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Sparkly</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap line-through">No pastels</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
			<div class="absolute flex gap-5 items-center grupo3">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Great Gatsby</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">1920</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Flapper</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
			<div class="absolute flex gap-5 items-center grupo4">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Great Gatsby</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">1920</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Flapper</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap line-through">No sleeves</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
			<div class="absolute flex gap-5 items-center grupo5">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Western</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Coastal cowgirl</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Suede</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
			<div class="absolute flex gap-5 items-center grupo6">
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Western</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Coastal cowgirl</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap">Suede</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
				<div
					class="rounded-3xl flex justify-between gap-5 items-center bg-[#c1e7fe] text-[#2572ad] py-1 pl-4 pr-2"
				>
					<span class="text-sm text-nowrap line-through">No florals</span>
					<div
						class="rounded-full bg-[#3981b8] flex justify-center items-center text-[#c1e7fe] w-[20px] h-[20px] text-lg pb-[2px]"
					>
						x
					</div>
				</div>
			</div>
		</div>

		<div class="relative mb-8 sm:mb-20 md:mb-40 xl:mb-52 bubbles-results-wrapper">
			<div class="absolute flex items-center gap-5 grupo1">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Balenciaga.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Balmain.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Chanel.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Christian Dior.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Jacqumus.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/barbiecore/Versace.webp"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
			<div class="absolute flex items-center gap-5 grupo2">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/Balenciaga.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/barbiecore no pastel.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/bolso.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/Christian Dior.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/Jacqumus.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/notpastel/Versace.webp"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
			<div class="absolute flex items-center gap-5 grupo3">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/bag-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/dress 2-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/dress 4-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/image-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>

				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/shoes-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/gatsby/tiara-s.webp"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
			<div class="absolute flex items-center gap-5 grupo4">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/dress 3.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/great gatsby no sleeves 1.jpeg"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/great gatsby no sleeves 2.jpeg"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/great gatsby no sleeves 3.jpeg"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/great gatsby no sleeves 4.jpeg"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/sleeves/great gatsby no sleeves 5.jpeg"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
			<div class="absolute flex items-center gap-5 grupo5">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/botas.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/coastal cowgirl 5.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/dress.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/Fedora.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/isabel marant.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/coastal/jacket.webp"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
			<div class="absolute flex items-center gap-5 grupo6">
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/coastal cowgirl 6.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/dress.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/Fedora.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/HARDLY-EVER-WORN-IT120565-648878aa79136.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/isabel marant.webp"
					class=""
					alt=""
					loading="lazy"
				/>
				<img
					class="p-1 min-w-[40px] h-[40px] sm:min-w-[80px] sm:p-4 sm:h-[80px] rounded-full shadow-md object-cover md:min-w-[100px] md:min-h-[100px] xl:min-h-[180px] xl:min-w-[180px] bg-white z-10"
					src="/img/florals/jacket.webp"
					class=""
					alt=""
					loading="lazy"
				/>
			</div>
		</div>
	</div>

	<div class="relative  min-h-[300px] w-full h-auto aspect-[4/3]">
		<picture class="">
			<source
				srcset="/img/principal-xl.webp"
				media="(min-width: 1200px)"
			/>
			<source srcset="/img/principal-m.webp" media="(min-width: 1024px)" />
			<img
				class="w-full min-hei lg:max-w-[550px] lg:ml-auto xl:max-w-[800px]"
				src="/img/princial_mobile.webp"
				class=""
				alt=""
				loading="lazy"
			/>
		</picture>
		<a
			href="/cards"
			onclick="dataLayer.push({'event': 'Try now', 'tag': 'try_now'});"
			class="absolute shadow-2xl shadow-black drop-shadow-2xl bottom-0 right-3 w-[106px] h-[106px] bg-violet-900 rounded-full flex-col justify-center items-center inline-flex lg:top-20 lg:left-[-30px] lg:w-[150px] lg:h-[150px] xl:top-40"
		>
			<span class="font-bold text-center text-white text-[17px]">
				Try now!
			</span>
		</a>
	</div>
</div>

<style>
	 .primero {
    width: 100%;
    min-height: 75px;
    animation-name: caso1;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  }
  .mano-abajo {
    width: 70px;
    min-height: 75px;
    min-width: 70px;
    overflow: hidden;
    animation-name: caso1-invert;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  }

  .grupo1,
  .grupo2,
  .grupo3,
  .grupo4,
  .grupo5,
  .grupo6 {
    transform: translateX(-420%);
    z-index: 100;
    animation-name: aparecer;
    animation-duration: 30s;
    animation-fill-mode: forwards;
  }

  .grupo1 {
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
  .grupo2 {
    animation-delay: 5.5s;
    animation-iteration-count: infinite;
  }
  .grupo3 {
    animation-delay: 10.5s;
    animation-iteration-count: infinite;
  }
  .grupo4 {
    animation-delay: 15.5s;
    animation-iteration-count: infinite;
  }

  .grupo5 {
    animation-delay: 20.5s;
    animation-iteration-count: infinite;
  }
  .grupo6 {
    animation-delay: 25.5s;
    animation-iteration-count: infinite;
  }

  @media (max-width: 600px) {
    .grupo1,
    .grupo2,
    .grupo3,
    .grupo4,
    .grupo5,
    .grupo6 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 16px;
    }

    .grupo1 img,
    .grupo2 img,
    .grupo3 img,
    .grupo4 img,
    .grupo5 img,
    .grupo6 img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
      height: auto;
    }

    .bubbles-results-wrapper {
      min-height: 196px;
    }
  }

  @keyframes caso1 {
    0% {
      width: 100%;
      overflow: hidden;
    }
    5% {
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      flex: inherit;
    }
    50% {
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      flex: inherit;
    }
    55% {
      width: 100%;
      overflow: hidden;
    }
    100% {
      width: 100%;
      overflow: hidden;
    }
  }
  @keyframes caso1-mobile {
    0% {
      width: 100%;
      overflow: hidden;
    }
    5% {
      width: 50px;
      height: 50px;
      min-width: 50px;
      overflow: hidden;
      flex: inherit;
    }
    50% {
      width: 50px;
      height: 50px;
      min-width: 50px;
      overflow: hidden;
      flex: inherit;
    }
    55% {
      width: 100%;
      overflow: hidden;
    }
    100% {
      width: 100%;
      overflow: hidden;
    }
  }
  @keyframes caso1-invert {
    0% {
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      flex: inherit;
    }
    5% {
      width: 100%;
      overflow: hidden;
    }
    50% {
      width: 100%;
      overflow: hidden;
    }
    55% {
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      flex: inherit;
    }
    100% {
      width: 70px;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      flex: inherit;
    }
  }
  @keyframes aparecer {
    0% {
      transform: translateX(-420%);
      opacity: 0.2;
    }
    2% {
      transform: translateX(0%);
      opacity: 1;
    }
    15% {
      transform: translateX(0%);
      opacity: 1;
    }
    20% {
      transform: translateX(-420%);
      opacity: 1;
    }

    75% {
      transform: translateX(-420%);
      opacity: 1;
    }
  }
  .hslide { 
    width: 100%;
    flex-shrink: 0;
  }
  .hwrap { 
    overflow: hidden;
  }

  .hmove { 
    position: relative; 
    top: 0; 
    right: 0;
  }
  @keyframes slideh {
    0% { right: 0; } 33% { right: 0; }
    34% { right: 100%; } 66% { right: 100%; }
    67% { right: 200%; } 99% { right: 200%; }
    100% { right: 0; }
  }
  .hmove { 
    display: flex;
    align-items: center;
   }

  .hmove { 
    animation: slideh 30s infinite; 
  }

  .hmove.left {
    animation-delay: 5s;
  }

</style>