<div class="max-w-7xl m-auto py-12 xl:py-16" id="invertors"> 
    <h2 class="font-bold text-4xl mb-8 text-center md:mb-16 xl:text-5xl">
        Top investors
    </h2>
    <div class="flex flex-col items-center justify-center gap-8 md:flex-row m-auto md:gap-28">
        <img  class="max-h-[100px]" src="/img/investors/aiseed.webp" alt="" loading="lazy"/>
        <img  class="max-h-[100px]" src="/img/investors/startup.webp" alt="" loading="lazy"/>
        <a href="https://outlierventures.io/" target="_blank">
            <img  class="max-h-[100px]" src="/img/investors/ov.webp"  alt="" loading="lazy"/>
        </a>
    </div>
</div>
