<div class="max-w-7xl m-auto py-12 xl:py-16" id="">
  <h2
    class="font-bold text-4xl mb-8 text-center md:mb-16 xl:text-5xl md:gap-28"
  >
    Award winning technology for fashion
  </h2>
  <div
    class="flex flex-col items-center justify-center gap-8 lg:flex-row xl:flex-row m-auto"
  >
    <img class="w-auto max-h-[100px]" src="/img/tech/shop.webp" alt="" loading="lazy"/>
    <img class="w-auto max-h-[100px]" src="/img/tech/creative.webp" alt="" loading="lazy"/>
    <img class="w-auto max-h-[100px]" src="/img/tech/cogx.webp" alt="" loading="lazy"/>
    <img class="w-auto max-h-[100px]" src="/img/tech/ny.webp" alt="" loading="lazy"/>
  </div>
</div>
